{{ define "main" }}
	<div class="wrapper" style="margin-top: 15%;">
		<h1>Hi. I'm <strong>Richard Kapička</strong></h1>
		<h2>Currently working as <strong>PHP Developer</strong> in <a href="https://www.naucmese.cz">Naučmese</a> and as <strong><abbr title="Ruby on Rails">RoR</abbr> Developer</strong> in <a href="https://www.guestready.com">GuestReady</a>.</h2>
		<h3>Contact me at <a href="mailto:richard@kapicka.cz">richard&#x40;<!---->kapicka&#x2E;&#x63;&#x7A;</a>.</h3>

		<div class="sites">
			<a href="https://twitter.com/RichardKapicka" title="Twitter"><img src="/img/sites/twitter.png" alt="Twitter"></a>
			<a href="https://www.linkedin.com/in/richardkapicka" title="LinkedIn"><img src="/img/sites/linkedin.png" alt="LinkedIn"></a>
			<a href="https://github.com/RiKap" title="GitHub"><img src="/img/sites/github.png" alt="GitHub"></a>
			<a href="https://open.spotify.com/user/21vhozhf5i2v6siyjrzelbm3i" title="Spotify"><img src="/img/sites/spotify.png" alt="Spotify"></a>
			<a href="skype:RichardKapicka" title="Skype"><img src="/img/sites/skype.png" alt="Skype"></a>
		</div>
	</div>
{{ end }}
