{{ define "main" }}
	<div class="wrapper">
		<div class="greeting">
			<span class="text-writer" data-items='["Hello", "Ahoj", "Tschüss", "Hi"]'><span class="cursor"></span></span>
			<i class="emoji emoji-greeting"></i>
		</div>

		<h1>I'm <strong>Richard Kapička</strong></h1>
		<h2>Currently working as <strong>Backend Developer</strong> in <a href="https://www.shoptet.cz">Shoptet, a.s.</a>.</h2>
		<h3>Contact me at <a href="mailto:richard@kapicka.cz">richard&#x40;<!---->kapicka&#x2E;&#x63;&#x7A;</a>.</h3>

		<div class="sites">
			<a href="https://www.linkedin.com/in/richardkapicka" title="LinkedIn" class="shake">
				<img src="/img/sites/linkedin.png" alt="LinkedIn">
			</a>
			<a href="https://github.com/RiKap" title="GitHub" class="shake">
				<img src="/img/sites/github.png" alt="GitHub">
			</a>
			<a href="https://open.spotify.com/user/21vhozhf5i2v6siyjrzelbm3i" title="Spotify" class="shake">
				<img src="/img/sites/spotify.png" alt="Spotify">
			</a>
		</div>
	</div>
{{ end }}
